/* Reset de styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f3ea;
    color: #333;
}

/* Styles de l'en-tête */
header {
    background: #323946;
    color: #f9f3ea;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #f9f3ea;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #936659;
}

/* Section d'accueil */
#hero {
    background-image: url('https://ice-e.github.io/EmoSolene/images/mountains.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1b242f;
}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background: #936659;
    color: #f9f3ea;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background: #3d5c6b;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

/* Section à propos */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-text {
    flex: 1;
    padding-left: 20px;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    
    .profile-photo {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    
    .about-text {
        padding: 0;
    }
}

/* Styles des sections de parcours et bénévolat */
.parcours-container, .benevolat-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.parcours-item, .benevolat-item {
    background-color: #c4bfb5; /* Couleur de fond des éléments */
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 1 1 300px; /* Flex pour permettre aux éléments de s'adapter */
    transition: transform 0.3s;
}

.parcours-item:hover, .benevolat-item:hover {
    transform: scale(1.05); /* Agrandir légèrement au survol */
}

.parcours-logo, .benevolat-logo {
    width: 100px; /* Largeur des logos */
    height: auto; /* Hauteur automatique pour garder le ratio */
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
    color: #323946; /* Couleur des titres */
}

p {
    color: #627181; /* Couleur du texte */
}

/* Styles des listes */
ul {
    text-align: left; /* Alignement à gauche pour les listes */
    margin: 10px 0 0 20px; /* Espacement pour les listes */
    color: #627181;
}

/* Styles des sections */
section {
    padding: 60px 0;
    background-color: #fff; /* Couleur de fond des sections */
    margin-bottom: 20px; /* Espacement entre les sections */
    border-radius: 8px; /* Coins arrondis pour les sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.container {
    width: 80%;
    max-width: 1200px; /* Largeur maximale pour un bon rendu */
    margin: auto; /* Centrer le conteneur */
}

h2 {
    color: #35424a;
    margin-bottom: 20px;
    text-align: center; /* Centre le titre */
}

footer {
    background: #35424a;
    color: #f9f3ea;
    text-align: center;
    padding: 10px 0;
}

/* Styles responsive */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    #hero h1 {
        font-size: 1.8em;
    }
}
